.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container h1 {
  font-family: monospace;
  font-size: 50px;
  color: white;
  margin-top: 100px;
}
.container h3 {
  font-family: monospace;
  color: white;
}
.container a {
  display: flex;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  font-family: monospace;
  font-weight: 600;
  color: white;
}
.container a:hover {
  box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-transition: 500ms;
  transition: 500ms;
}
p {
  font-family: monospace;
  color: white;
}
input:hover{
  box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-transition: 500ms;
  transition: 500ms;
}
button{
  border-radius: 10px;
  padding: 4px 8px 4px 8px;
}
button:hover{
  box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-transition: 500ms;
  transition: 500ms;
}